.header{
			width:100%;
			height:596px;
			background:#87509C;
			display: block;
			float: left;
}

.logo{
	top:57px;
	margin-left:212px;
	float:left;
}

.nav{
     padding-top: 75px; 
     padding-left: 710px;
}

.nav li:hover{
	border-radius: 3px;
	cursor: pointer;
	background-color:#643a79;
}

.nav ul li{
	display: inline;
 	padding: 0 0.9em;
    float: left;
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
}

.header p{
	clear: both;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-size: 35px;
	color: #FFFFFF;
	line-height: 43px;
	padding-top: 40px
}

.bouton1{
	margin-left: 560px;
	margin-top: 50px;
}

.header2{
			width:100%;
			height:748px;
			background:#17c2a4;
			display: block;
			float: left;
}

.header2 h1{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	word-spacing: 3px;
	clear: both;
	padding-top: 135px;
	color: #FFFFFF;
	letter-spacing: 4px;
}

.header2 h2{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	line-height: 23px;
	font-size: 15px;
	clear: both;
	color: #FFFFFF;
}

.transition1{
	width:65px;
	height:3px;
	background:#14a58c;
	margin-left:675px;
	margin-bottom: 27px;
}

.themes{
	margin-top: 50px;
}

.drapeau{
	float: left;
	margin-left:289px;
}

.drapeau h2{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
}

.drapeau p{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
}

.drapeau img{
	margin-left: 15px;
}

.crayon{
	float: left;
	margin-left: 60px;
}

.crayon h2{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
}

.crayon p{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
}

.crayon img{
	margin-left: 15px;
}

.ecrou{
	float: left;
	margin-left: 60px;
}

.ecrou h2{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
}

.ecrou p{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
}

.ecrou img{
	margin-left: 15px;
}

.fusee{
	float: left;
	margin-left: 60px;
}

.fusee h2{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;	
}

.fusee p{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
}

.fusee img{
	margin-left: 19px;	
}

.header3 {
	width: 100%;
	height: 915px;
	background-color: #e7f1f8;
	display: block;
	float: left;
	text-align: center;
}

.header3 h1{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #3c4761;
	margin-top: 122px;
	letter-spacing: 4px
}

.header3 h2{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #3c4761;
	margin-bottom: 40px;
	font-size: 17px;
}

.lateam {
	margin-left: 200px;
}

.lateam h3{
	font-family: 'Titillium Web', sans-serif;
}

.lateam h4{
	font-family: 'Titillium Web', sans-serif;
	color:#30bae7;
}

.lateam p{
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
}

.personnel1 {
	float: left;
}

.personnel1 ul li{
	list-style-type: none;
	display: inline;
}

.personnel2 {
	float: left;
}

.personnel2 ul li{
	list-style-type: none;
	display: inline;
}

.personnel3{
	float: left;
}

.personnel3 ul li{
	list-style-type: none;
	display: inline;
}

.personnel4{
	float: left;
}

.personnel4 ul li{
	list-style-type: none;
	display: inline;
}

.transition2{
	width:65px;
	height:3px;
	background:#c8d9e5;
	margin-left:675px;
	margin-bottom: 27px;
}

.header4 {
	width: 100%;
	height: 655px;
	background-color: #FFFFFF;
	display: block;
	float: left;
	text-align: center;
}

.header4 h1{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #3c4761;
	margin-top: 108px;
	letter-spacing: 4px
}

.header4 h2{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #3c4761;
	margin-bottom: 40px;
	font-size: 17px;
}

.transition3{
	width:65px;
	height:3px;
	background:#c8d9e5;
	margin-left:675px;
	margin-bottom: 27px;
}

.header4 h3{
	color: #3c4761;
	font-family: 'Titillium Web', sans-serif;
}

.skills1{
	float:left;
	margin-left:240px;
}

.skills2{
	float:left;
	margin-left: 30px;
}

.skills3{
	float:left;
	margin-left: 30px;
}

.skills4{
	float:left;
	margin-left: 30px;
}

.skills1 ul li{
	list-style-type: none;
	display: inline;
}


.skills2 ul li{
	list-style-type: none;
	display: inline;
}


.skills3 ul li{
	list-style-type: none;
	display: inline;
}

.skills4 ul li{
	list-style-type: none;
	display: inline;
}

.header5 {
	width: 100%;
	height: 1423px;
	background-color: #ffdd99;
	display: block;
	float: left;
	text-align: center;
}

.header5 h1{
	font-family: 'Titillium Web', sans-serif;
	color: #3c4761;
	margin-top: 108px;
	letter-spacing: 4px
}

.header5 h2{
	font-family: 'Titillium Web', sans-serif;
	color: #3c4761;
	font-size: 17px;
	margin-top: 55px;
	margin-bottom: 30px;
}

.transition4{
	width:65px;
	height:3px;
	background:#e5c37f;
	margin-left:680px;
	float: left;
}

.nav2 ul li{
	list-style-type: none;
	display: inline;
	font-family: 'Titillium Web', sans-serif;
	color: #45433e;
	border-radius: 3px;
	background-color: #ebc985;
	padding-right: 10px;
	padding-left: 10px;
}

.nav2{
	float: left;
	margin-left: 560px;
	margin-bottom: 20px;
}

.nav2 li:hover{
	border-radius: 3px;
	cursor: pointer;
	background-color:#FFFFFF;
}

.mockup1{
	float:left;
	margin-left:110px;
}

.mockup2{
	float:left;
}

.mockup3{
	float: left;
	margin-left: 110px;
}

.mockup4{
	float: left;
}

.mockup1 ul li{
	list-style-type: none;
	display: inline;
	font-family: 'Titillium Web', sans-serif;
}

.mockup2 ul li{
	list-style-type: none;
	display: inline;
	font-family: 'Titillium Web', sans-serif;
}

.mockup3 ul li{
	list-style-type: none;
	display: inline;
	font-family: 'Titillium Web', sans-serif;
}

.mockup4 ul li{
	list-style-type: none;
	display: inline;
	font-family: 'Titillium Web', sans-serif;
}

.bonton2{
	margin-left: 560px;
	margin-top:600px;
	float: left;
}

.header6 {
	width: 100%;
	height: 895px;
	background-color: #d74680;
	display: block;
	float: left;
}

.header6 h1{
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	margin-top: 108px;
	letter-spacing: 4px;
	text-align: center;

}

.header6 h2{
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	font-size: 17px;
	margin-top: 50px;
	margin-bottom: 60px;
	text-align: center;
}

.transition5{
	width:65px;
	height:3px;
	background:#b73c6d;
	margin-left:680px;
	float: left;
}

.testi1{
	float: left;
	display: block;
	margin-left: 150px;
	margin-right: 80px;
}

.testi1 h3{
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;	
}

.testi1 p{
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;	
	font-size: 14px;
	float: left;
}

.testi1 h4{
	font-family: 'Titillium Web', sans-serif;
	color: #ffdd99;	
	font-size: 12px;
}

.testi2{
	float: left;
	display: block;
	margin-left: 30px;
}

.testi2 h3{
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
}

.testi2 p{
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	float: left;	
}

.testi2 h4{
	font-family: 'Titillium Web', sans-serif;
	color: #ffdd99;
	font-size: 12px;	
}

.testi3{
	float: left;
	display: block;
	margin-left: 30px;
	margin-right: 75px;
}

.testi3 h3{
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;	
}

.testi3 p{
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;	
	font-size: 14px;
	float: left;
}

.testi3 h4{
	font-family: 'Titillium Web', sans-serif;
	color: #ffdd99;
	font-size: 12px;	
}

.testi4{
	float: left;
	display: block;
	margin-left: 30px;
}

.testi4 h3{
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
}

.testi4 p{
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;	
	font-size: 14px;
	float: left;
}

.testi4 h4{
	font-family: 'Titillium Web', sans-serif;
	color: #ffdd99;	
	font-size: 12px;
}

.rond1{
	float: left;
	margin-bottom: 100px;
	margin-right: 30px;
	margin-left: 140px;
}

.rond2{
	float: left;
	margin-bottom: 200px;
	margin-right: 30px;
}

.rond3{
	float: left;
	margin-bottom: 200px;
	margin-right: 30px;
	margin-left: 250px;
}

.rond4{
	float:left;
	margin-bottom: 200px;
	margin-right: 30px;
}

.header7 {
	width: 100%;
	height: 820px;
	background-color: #3c5499;
	display: block;
	float: left;
}

.header7 h1{
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	margin-top: 108px;
	letter-spacing: 4px;
	text-align: center;

}

.header7 h2{
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	margin-top: 50px;
	margin-bottom: 70px;
	text-align: center;
}

.transition6{
	width:65px;
	height:3px;
	background:#273a71;
	margin-left:680px;
	float: left;
}

.name-email{
    text-align: center;
    margin-right: 53px;
}

.name-email li{
    list-style: none;
    display: inline;
    padding-left: 15px;
}

.name-email li input{
    color: white;
    background: #273a71;
    border: none;
    width: 358px;
    padding: 20px 20px;
    border-radius: 3px;
}

.emailtext{
    text-align: center;

}

.emailtext textarea{
    color: white;
    background: #273a71;
    width: 813px;
    height: 200px;
    border: none;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 3px;
}

.emailtext textarea span{
    color: red;
}

.bottom-button{
    margin-top: 60px;
    margin-right: 40%;
    margin-left: 40%;
    height: 50px;
    background: #30bae7;
    border-radius: 5px;
    text-align: center;
}

.bottom-button p{
    padding-top: 13px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

.bottom-button :hover{
	cursor: pointer;
}

.header8 {
	width: 100%;
	height: 112px;
	background-color: #344b8e;
	display: block;
	float: left;
}

.footernav{
	margin-left: 280px;
}

.footernav ul li{
	display: inline;
 	padding: 25px;
    float: left;
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
}

.footernav li:hover{
	cursor: pointer;
	color: #30bae7;
}