.header{
			width:100%;
			height:596px;
			background:#87509C;
			display: block;
			float: left;
}

.logo{
	top:57px;
	margin-left:212px;
	float:left;
}

.nav{
     padding-top: 75px; 
     padding-left: 710px;
}

.nav li:hover{
	border-radius: 3px;
	cursor: pointer;
	background-color:#643a79;
}

.nav ul li{
	display: inline;
 	padding: 0 0.9em;
    float: left;
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
}

.header p{
	clear: both;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-size: 35px;
	color: #FFFFFF;
	line-height: 43px;
	padding-top: 40px
}

.bouton1{
	margin-left: 560px;
	margin-top: 50px;
}

.header2{
			width:100%;
			height:748px;
			background:#17c2a4;
			display: block;
			float: left;
}

.header2 h1{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	word-spacing: 3px;
	clear: both;
	padding-top: 135px;
	color: #FFFFFF;
	letter-spacing: 4px;
}

.header2 h2{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	line-height: 23px;
	font-size: 15px;
	clear: both;
	color: #FFFFFF;
}

.transition1{
	width:65px;
	height:3px;
	background:#14a58c;
	margin-left:675px;
	margin-bottom: 27px;
}

.themes{
	margin-top: 50px;
}

.drapeau{
	float: left;
	margin-left:289px;
}

.drapeau h2{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
}

.drapeau p{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
}

.drapeau img{
	margin-left: 15px;
}

.crayon{
	float: left;
	margin-left: 60px;
}

.crayon h2{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
}

.crayon p{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
}

.crayon img{
	margin-left: 15px;
}

.ecrou{
	float: left;
	margin-left: 60px;
}

.ecrou h2{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
}

.ecrou p{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
}

.ecrou img{
	margin-left: 15px;
}

.fusee{
	float: left;
	margin-left: 60px;
}

.fusee h2{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;	
}

.fusee p{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
}

.fusee img{
	margin-left: 19px;	
}

.header3 {
	width: 100%;
	height: 915px;
	background-color: #e7f1f8;
	display: block;
	float: left;
	text-align: center;
}

.header3 h1{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #3c4761;
	margin-top: 122px;
	letter-spacing: 4px
}

.header3 h2{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #3c4761;
	margin-bottom: 40px;
	font-size: 17px;
}

.lateam {
	margin-left: 200px;
}

.lateam h3{
	font-family: 'Titillium Web', sans-serif;
}

.lateam h4{
	font-family: 'Titillium Web', sans-serif;
	color:#30bae7;
}

.lateam p{
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
}

.personnel1 {
	float: left;
}

.personnel1 ul li{
	list-style-type: none;
	display: inline;
}

.personnel2 {
	float: left;
}

.personnel2 ul li{
	list-style-type: none;
	display: inline;
}

.personnel3{
	float: left;
}

.personnel3 ul li{
	list-style-type: none;
	display: inline;
}

.personnel4{
	float: left;
}

.personnel4 ul li{
	list-style-type: none;
	display: inline;
}

.transition2{
	width:65px;
	height:3px;
	background:#c8d9e5;
	margin-left:675px;
	margin-bottom: 27px;
}